<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Blank Template for Bootstrap</title>
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row mt-4 ml-0">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"/>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <table class="table mt-5"> 
                <thead> 
                    <tr> 
                        <th>#</th> 
                        <th>Company name</th> 
                        <th>Contacts</th>                          
                    </tr>                     
                </thead>                 

                <tbody> 
                    <tr> 
                        <th scope="row">1</th> 
                        <td>Mark</td> 
                        <td>Otto</td>                          
                    </tr>                     

                    <tr> 
                        <th scope="row">2</th> 
                        <td>Jacob</td> 
                        <td>Thornton</td>                          
                    </tr>                     

                    <tr> 
                        <th scope="row">3</th> 
                        <td>Larry</td> 
                        <td>the Bird</td>                          
                    </tr>                     
                </tbody>                 
            </table>
        </div>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/popper.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
